<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SIGT__KIGEST.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <SIGT__KIGEST.My.MySettings>
            <setting name="servidor" serializeAs="String">
                <value />
            </setting>
            <setting name="puerto" serializeAs="String">
                <value />
            </setting>
            <setting name="bd" serializeAs="String">
                <value />
            </setting>
            <setting name="usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="authuser" serializeAs="String">
                <value />
            </setting>
            <setting name="authpass" serializeAs="String">
                <value />
            </setting>
            <setting name="priv" serializeAs="String">
                <value />
            </setting>
            <setting name="idAlmacen" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="idfacRap" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="idPtoVta" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="idCatDef" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="idListaDef" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ImprTikets" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImprTiketsNombre" serializeAs="String">
                <value />
            </setting>
            <setting name="UnidDef" serializeAs="String">
                <value>lt</value>
            </setting>
            <setting name="TipoEtiqueta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CajaDef" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EtiquetadoraNmb" serializeAs="String">
                <value />
            </setting>
            <setting name="TextoPieTiket" serializeAs="String">
                <value />
            </setting>
            <setting name="ivaDef" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="calcCosto" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="monedaDef" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="numDecimales" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="paginacion" serializeAs="String">
                <value>50</value>
            </setting>
        </SIGT__KIGEST.My.MySettings>
    </userSettings>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
</configuration>
